.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.title {
    font-family: 'Amatic SC', cursive;
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
}

.paragraph {
    font-family: 'Roboto' sans-serif;
    padding: 20px;
    width: 85%;
}

/*  ---------- STYLE DU GRID ----------  */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 0.6rem;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.item1 {
    grid-column: 1;
    grid-row: span 2;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
}

.item3 {
    grid-column: 3;
    grid-row: span 2;
}

.item4 {
    grid-column: 4;
    grid-row: 1;
}

.item5 {
    grid-column: 1;
    grid-row: 3;
}

.item6 {
    grid-column: 2;
    grid-row: span 2;
}

.item7 {
    grid-column: 3;
    grid-row: 3;
}

.item8 {
    grid-column: 4;
    grid-row: span 2;
}

/*  ---------- STYLE DU BUTTON ----------  */

.button{
    margin-top: 30px;
    background-color: #333;
    color: white;
    border-radius: 20px;
    height: 45px;
    width: 25%;
}