.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(251, 248, 248);
    padding: 30px;
}

.title {
    font-family: 'Amatic SC', cursive;
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
}

.paragraph {
    padding: 20px;
    width: 65%;
}



.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 0.6rem;
    max-width: 1200px;
    padding: 2px;
    background-color: rgb(251, 248, 248);
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
   
}

.item1 {
    grid-column: 1;
    grid-row: span 2;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
}

.item3 {
    grid-column: 3;
    grid-row: span 2;
}

.item4 {
    grid-column: 4;
    grid-row: 1;
}

.item5 {
    grid-column: 1;
    grid-row: 3;
}

.item6 {
    grid-column: 2;
    grid-row: span 2;
}

.item7 {
    grid-column: 3;
    grid-row: 3;
}

.item8 {
    grid-column: 4;
    grid-row: span 2;
}