.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: rgb(247, 245, 245);
    margin-top: -70px;
    padding-top: 70px;

    .title {
        font-family: 'Amatic SC', cursive;
        font-size: 1.8rem;
        font-weight: 700;
        color: #333;
        margin-top: 5%;
    }

    .paragraph {
        font-family: 'Roboto' sans-serif;
        padding: 30px;
        width: 85%;
    }

    /*  ---------- STYLE DU GRID ----------  */
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 200px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        gap: 0.6rem;

        .item{
            position: relative;
        }
        .item1 {
            grid-column: 1;
            grid-row: span 2;
        }

        .item2 {
            grid-column: 2;
            grid-row: 1;
        }

        .item3 {
            grid-column: 3;
            grid-row: span 2;
        }

        .item4 {
            grid-column: 4;
            grid-row: 1;
        }

        .item5 {
            grid-column: 1;
            grid-row: 3;
        }

        .item6 {
            grid-column: 2;
            grid-row: span 2;
        }

        .item7 {
            grid-column: 3;
            grid-row: 3;
        }

        .item8 {
            grid-column: 4;
            grid-row: span 2;
        }

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    /*  ---------- STYLE DU BUTTON ----------  */
    .button {
        margin-top: 30px;
        background-color: #333;
        color: white;
        border-radius: 20px;
        height: 45px;
        width: 25%;
        margin-bottom: 20px;
    }
    .button:hover{
        background-color: #8d8c8c;
    }
}