.banner {
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: relative;
    margin-bottom: 50px;
    filter: brightness(70%);
}

.title {
    font-family: 'Amatic SC', cursive;
    font-weight: 800;
    font-size: 2rem;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.paragraphe {
    font-family: 'Roboto' sans-serif;
    position: absolute;
    top: 230px;
    width: 100%;
    text-align: center;
    color: white;
}


.home h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    color: white;
}