.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;

    .title {
        font-family: 'Amatic SC', cursive;
        font-size: 1.8rem;
        font-weight: 700;
        color: #333;
        text-align: center;
        padding: 30px;
    }

    .paragraphe {
        font-family: 'Roboto' sans-serif;
        text-align: center;
        margin-bottom: 20px;
    }
     /* STYLE DES ARTICLES */
     .articleFlex {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding: 20px;

        .article {
            width: 25%;
            border: 1px solid rgb(247, 245, 245);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            background-color: rgb(247, 245, 245);

            .h2 {
                padding: 10px;
                font-size: 2em;
                text-align: center;
            }

            .articleSubtitles {
                text-align: center;
                font-weight: 800;
                padding: 10px;
                width: 90%;
            }

            .articlePara {
                padding: 10px;
                text-align: center;
            }
        }
    }
}

