.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 50px;

    .title {
        font-family: 'Amatic SC', cursive;
        font-size: 1.7rem;
        font-weight: 700;
        color: #333;
        text-align: center;
        padding: 30px;
    }

    .paragraphe {
        font-family: 'Roboto' sans-serif;
        text-align: center;

    }
}

/* STYLE DES ARTICLES */
.articleFlex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 20px;

    .article {
        width: 25%;
        border: 1px solid white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;

        .h2 {
            padding: 10px;
            font-size: 2em;
            text-align: center;
        }

        .articleSubtitles {
            text-align: center;
            font-weight: 800;
            padding: 10px;
            width: 90%;

        }

        .articlePara {
            padding: 10px;
            text-align: center;
        }
    }
}

/* STYLE DES BOUTONS */
.buttonStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.button {
    font-size: 'Roboto' sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #333;
    color: white;
    border-radius: 20px;
    height: 45px;
    width: 25%;
}

.red {
    background-color: #e74c3c;
}

.green {
    background-color: #00a652;

}