.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 50px;

    .title {
        font-family: 'Amatic SC', cursive;
        font-size: 1.7rem;
        font-weight: 700;
        color: #333;
        text-align: center;
        padding: 30px;
    }

    .paragraphe {
        font-family: 'Roboto' sans-serif;
        text-align: center;
        margin-bottom: 30px;
    }

    /* STYLE DES ARTICLES */
    .articleFlex {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 20px;

        .article {
            width: 25%;
            border: 1px solid white;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            border-radius: 20px;

            .h2 {
                padding: 10px;
                font-size: 2em;
                text-align: center;
            }

            .articleSubtitles {
                text-align: center;
                font-weight: 800;
                padding: 10px;
                width: 90%;
            }

            .articlePara {
                padding: 10px;
                text-align: center;
                color: black;
            }
        }
    }
}

/* TABLETTE */
@media (max-width: 1024px) and (min-width: 769px) {
    .container .articleFlex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .container .articleFlex .article {
        width: 100%; /* prend toute la cellule */
    }

    .container .title {
        font-size: 1.6rem;
    }

    .container .paragraphe {
        font-size: 1rem;
        padding: 0 20px;
    }
}

/* MOBILE */
@media (max-width: 768px) {
    .container .articleFlex {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px;
    }

    .container .articleFlex .article {
        width: 90%;
    }

    .container .title {
        font-size: 1.5rem;
        padding: 20px 10px;
    }

    .container .paragraphe {
        font-size: 0.9rem;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .container .articleFlex .article .h2 {
        font-size: 1.5em;
    }
}
