.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 50px;

    .title {
        font-family: 'Amatic SC', cursive;
        font-size: 1.7rem;
        font-weight: 700;
        color: #333;
        text-align: center;
        padding: 30px;
    }

    .paragraphe {
        font-family: 'Roboto' sans-serif;
        text-align: center;
        margin-bottom: 30px;
    }

    /* STYLE DES ARTICLES */
    .articleFlex {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 20px;

        .article {
            width: 25%;
            border: 1px solid white;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            border-radius: 20px;

            .h2 {
                padding: 10px;
                font-size: 2em;
                text-align: center;
            }

            .articleSubtitles {
                text-align: center;
                font-weight: 800;
                padding: 10px;
                width: 90%;
            }

            .articlePara {
                padding: 10px;
                text-align: center;
                color: black;
            }
        }
    }
}