.footer{
    padding: 30px;
    background-color: #333;
    color: white;
}

.divArticle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.article{
    width: 100%;
}
.title{
    margin-bottom: 10px;
    font-family:  'Amatic SC', sans-serif;
    font-weight: 700;
    color: rgb(248, 104, 51)
}
.divIcon{
    margin: 20px 0 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid #333;
    border-radius: 30px;
    background-color: #444343;
    width: 40px;
    height: 40px;
}
.list{
    line-height: 2;
}
.divP{
    padding-top: 20px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 200;
    border-top: 1px solid #444343;
}

.divP p{
    font-size: 0.6rem;
    color: #8e8d8d;
}