.footer {
    padding: 20px;
    background-color: #333;
    color: white;
    .divArticle {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        .article {
            .title {
                margin-bottom: 5px;
                font-family: 'Amatic SC', sans-serif;
                font-weight: 700;
                font-size: 1.2rem;
                color: rgb(248, 104, 51)
            }
            .paragraphe{
                font-weight: 600;
            }
        }
        .list {
            line-height: 2;
        }
    }
    .divIcon {
        margin: 20px 0 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #333;
            border-radius: 30px;
            background-color: #444343;
            width: 40px;
            height: 40px;
        }
    }
    .divP {
        padding-top: 20px;
        text-align: center;
        font-size: 0.7rem;
        font-weight: 200;
        border-top: 1px solid #444343;
        p {
            font-size: 0.6rem;
            color: #8e8d8d;
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .footer .divArticle {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .footer .divIcon {
        justify-content: center;
    }
}


@media (max-width: 768px) {
    .footer {
        padding: 25px 20px;
    }

    .footer .divArticle {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .footer .divIcon {
        justify-content: center;
    }

    .footer .divP {
        padding-top: 15px;
    }
}



