.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span{
    color: red;
}
.list {
    display: flex;
    gap: 15px;
    list-style: none;
    color: black;
}

.link {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 600;
    font-size: 1.2rem;
}
.link:hover{
    text-decoration: underline;
}

.donation {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: red;
    border-radius: 30px;
    color: white;
    width: 10%;
    height: 45px;
    font-weight: 600;
}