.testimonialsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(247, 245, 245);
    margin-top: 40px;

    .title {
        font-family: 'Amatic SC', cursive;
        font-size: 1.8rem;
        font-weight: 700;
        color: #333;
        text-align: center;
        padding: 30px;
    }

    .paragraphe {
        font-family: 'Roboto' sans-serif;
        text-align: center;
        margin-bottom: 20px;
        color:  rgb(117, 116, 116);
        font-weight: 600;
    }

    .testimonyDiv {
        border: 1px solid white;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        margin: 30px;
        padding: 30px;
        .testimonyInfos {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 20px;
            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .testimonyName {
            h3 {
                font-weight: 800;
            }
            p{
                color: rgb(117, 116, 116);
                font-weight: 700;
                font-size: 0.9rem;
            }
        }
        .testimonyParagraphe{
            color:  rgb(117, 116, 116);
            font-style: italic;
            font-weight: 700;
        }
    }

}